<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bg-gray-50">
    <section class="py-10 relative bg-gray-50 sm:py-16 lg:py-24 lg:pt-36">
        
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 text-center">
        <div
          class="grid items-center max-w-4xl grid-cols-2 gap-4 mx-auto mt-2 md:mt-20 md:grid-cols-4"
        >
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Herramientas</h2>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Google workspace</h2>
            
          </div><div
              class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
            >
              <h2>Visual Studio Code</h2>
            </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Microsoft Office</h2>
          </div>

          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Control de versiones: Git</h2>
          </div>

          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Terminal - Command Line</h2>
          </div>

          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Postman</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Figma</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>MongoDB</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>MySQL</h2>
          </div>

          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Workbench</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Compass</h2>
          </div>
        </div>

        <div
          class="grid items-center max-w-4xl grid-cols-2 gap-4 mx-auto mt-12 md:mt-20 md:grid-cols-4"
        >
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Tecnologías</h2>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>HTML</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>CSS</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>JavaScript</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Angular</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>React.js</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Typescript</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>RESTful APIs</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Express.js</h2>
          </div>
        </div>

        <div
          class="grid items-center max-w-4xl grid-cols-2 gap-4 mx-auto mt-12 md:mt-20 md:grid-cols-4"
        >
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Métodos</h2>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Trello</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Kanban</h2>
          </div>
          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Scrum</h2>
          </div>

          <div
            class="bg-gray-50 h-12 flex shadow-lg items-center justify-center"
          >
            <h2>Jira</h2>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
