<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <nav class="font-sans flex flex-col text-center content-center bg-white sm:flex-row sm:text-left sm:justify-between  px-6 bg-gray shadow sm:items-baseline w-full">

    <div class="mb-2 sm:mb-0 flex flex-row
    ">
      <div class="h-10 w-10 self-center mr-2">
        <img  routerLink="" class="h-10 w-10 self-center drop-shadow" src="../../../assets/img/icons8-afro-pick-48.png" />
      </div>
      <div>
        <h4 routerLink="" class="text-2xl no-underline text-indigo-900 text-grey-darkest hover:text-blue-dark font-sans mt-5">Malela Idjabe Makuale</h4><br>
      </div>
    </div>
  
    <div class="sm:mb-0 flex self-center">
      <!-- <div class="h-10" style="display: table-cell, vertical-align: middle;"> -->
      <h3 routerLink="/works" class="text-md text-indigo-900 no-underline text-black hover:text-blue-dark ml-2 px-1">Trabajos</h3>
      <h3 routerLink="/skills" class="text-md no-underline text-indigo-900 hover:text-blue-dark ml-2 px-1">Habilidades</h3>
      <!-- <a href="/two" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">About Us</a> -->
      <h3 routerLink="/aboutme" class="text-md no-underline text-indigo-900 hover:text-blue-dark ml-2 px-1">Sobre mí</h3>
      <!-- </div> -->
  
    </div>
  </nav> 

  
</body>
</html>

