<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-50">
    
    <div
      class="fade-in bg-gray-50 h-full flex w-full justify-center items-center dark:bg-gray-800 p-2"
    >
      <div
        class="bg-gray-50 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-4 md:p-2 xl:p-5"
      >
        <!-- card  -->
        <div
          class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
        >
          <div class="p-2 flex justify-center">
            <a href="https://bibliotecajgp.netlify.app/">
              <img
                class="fade-in rounded-md"
                src="../../../assets/img/bliblio_jgp.png"
                loading="lazy"
              />
            </a>
          </div>

          <div class="px-4 pb-3">
            <div>
              <a
                href="https://bibliotecajgp.netlify.app/"
              >
                <h5
                  class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
                >
                  Biblioteca JGP
                </h5>
              </a>
              <p class="text-gray-400"> Angular - Node</p>

              <p
                class="antialiased text-gray-600 dark:text-gray-400 text-sm break-all"
              >
                Digitalización de mi biblioteca personal.
              </p>
            </div>
          </div>
        </div>

     <!-- card  -->
     <div
     class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
   >
     <div class="p-2 flex justify-center">
       <a href="https://indiciusbasket.netlify.app/">
         <img
           class="fade-in rounded-md"
           src="../../../assets/img/IndiciusFoto.png"
           loading="lazy"
         />
       </a>
     </div>

     <div class="px-4 pb-3">
       <div>
         <a href="https://indiciusbasket.netlify.app/">
           <h5
             class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
           >
           Indicius
           </h5>
         </a>
         <p class="text-gray-400">React JS - Node</p>
         <p
           class="antialiased text-gray-600 dark:text-gray-400 text-sm"
         >
           Juego basado en el formato del mismo nombre del canal de youtube Colgados del Aro.
         </p>
       </div>
     </div>
   </div>

        <!-- card  -->
        <div
          class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
        >
          <div class="p-2 flex justify-center">
            <a href="https://newteamoliverybenji.netlify.app">
              <img
                class="fade-in rounded-md"
                src="../../../assets/img/NewTeamScreenshot.png"
                loading="lazy"
              />
            </a>
          </div>

          <div class="px-4 pb-3">
            <div>
              <a href="https://newteamoliverybenji.netlify.app">
                <h5
                  class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
                >
                  NewTeam
                </h5>
              </a>
              <p class="text-gray-400"> React</p>
              <p
                class="antialiased text-gray-600 dark:text-gray-400 text-sm break-all"
              >
                Web de un equipo de fútbol.
              </p>
            </div>
          </div>
        </div>
 <!-- card  -->
 <div
 class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
>
 <div class="p-2 flex justify-center">
   <a href="https://cunaodebar.netlify.app/">
     <img
       class="fade-in rounded-md"
       src="../../../assets/img/cunadofoto.png"
       loading="lazy"
     />
   </a>
 </div>

 <div class="px-4 pb-3">
   <div>
     <a href="https://cunaodebar.netlify.app/">
       <h5
         class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
       >
         Cuñadopedia
       </h5>
     </a>
     <p class="text-gray-400"> Angular - CSS</p>
     <p
       class="antialiased text-gray-600 dark:text-gray-400 text-sm "
     >
      Aplicación para aprender a cómo desenvolverte como un buen cuñado en cualquier bar.
     </p>
   </div>
 </div>
</div>
           <!-- 
           <div
           class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
         >
           <div class="p-2 flex justify-center">
             <a href="https://alexubagocomparer.zeabur.app/">
               <img
                 class="fade-in rounded-md"
                 src="../../../assets/img/ubagoComparer.png"
                 loading="lazy"
               />
             </a>
           </div>
 
           <div class="px-4 pb-3">
             <div>
               <a
                 href="https://alexubagocomparer.zeabur.app/"
               >
                 <h5
                   class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
                 >
                  Álex Ubago comparer
                 </h5>
               </a>
               <p class="text-gray-400"> PHP</p>
               <p
                 class="antialiased text-gray-600 dark:text-gray-400 text-sm"
               >
                Juego móvil para comparar los oyentes de Álex Ubago con los de otros artistas.
               </p>
             </div>
           </div>
         </div> -->
 <!-- card  -->
 <div
 class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
>
 <div class="p-2 flex justify-center">
   <a href="https://memorybasket.netlify.app/">
     <img
       class="fade-in rounded-md"
       src="../../../assets/img/memory_react.png"
       loading="lazy"
     />
   </a>
 </div>

 <div class="px-4 pb-3">
   <div>
     <a href="https://memorybasket.netlify.app/">
       <h5
         class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
       >
         Memory
       </h5>
     </a>
     <p class="text-gray-400"> React</p>
     <p
       class="antialiased text-gray-600 dark:text-gray-400 text-sm break-all"
     >
       Juego de memory de jugadoras y jugadores de baloncesto.
     </p>
   </div>
 </div>
</div>
        <!-- card  -->

        <!--    
       <div
       class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105">
    
       <div class="p-2 flex justify-center">
           <a href="https://github.com/MalelaIdjabeMakuale/portfolioNgolo">
               <img class="fade-in rounded-md"
               src="../../../assets/img/portfolioNgolo.png"
               loading="lazy">
           </a>
       </div>

       <div class="px-4 pb-3">
           <div>
               <a href="https://github.com/MalelaIdjabeMakuale/portfolioNgolo">
           
                   <h5
                       class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white ">
                       Portfolio
                   </h5>
               </a>

               <p class="antialiased text-gray-600 dark:text-gray-400 text-sm break-all">
                  Portfolio productora, guionista y realizadora audiovisual.
               </p>
           </div>
       </div>
 
   </div>
        -->

            <!-- card  -->
            <div
            class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
          >
            <div class="p-2 flex justify-center">
              <a
                href="https://github.com/MalelaIdjabeMakuale/bootcamp_angular_equipo.git"
              >
                <img
                  class="fade-in rounded-md"
                  src="../../../assets/img/Angular__equipo.png"
                  loading="lazy"
                />
              </a>
            </div>
  
            <div class="px-4 pb-3">
              <div>
                <a
                  href="https://github.com/MalelaIdjabeMakuale/bootcamp_angular_equipo.git"
                >
                  <h5
                    class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
                  >
                    Tienda online
                  </h5>
                </a>
                <p class="text-gray-400"> Angular</p>
                <p
                  class="antialiased text-gray-600 dark:text-gray-400 text-sm break-all"
                >
                  Desarrollo en equipo de una tienda online.
                </p>
              </div>
            </div>
          </div>
        <div
          class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105"
        >
          <div class="p-2 flex justify-center">
            <a href="https://malelaidjabemakuale.github.io/pokeapi/">
              <img
                class="fade-in rounded-md"
                src="../../../assets/img/Pokedex_javascript.png"
                loading="lazy"
              />
            </a>
          </div>

          <div class="px-4 pb-3">
            <div>
              <a href="https://malelaidjabemakuale.github.io/pokeapi/">
                <h5
                  class="text-xl font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white"
                >
                  Pokeapi
                </h5>
              </a>
              <p class="text-gray-400"> HTML - CSS</p>
              <p
                class="antialiased text-gray-600 dark:text-gray-400 text-sm "
              >
                Visualización de distintos pokemon y de sus características básicas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
