<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
        <img src="../../../assets/img/aznar.gif" alt="Logo" class="object-cover w-40 h-40 mb-8 rounded-full">
        <h1 class="text-4xl font-bold mb-4">Estamos trabajando en ello</h1>
        <p class="text-lg mb-8 px-4 md:px-0">Hemos dedicado tiempo ayer por la noche y esta mañana</p>
       
    </div>
</body>
</html>
