<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Beets</title>
  
   
</head>
<body>
    <section class="overflow-hidden bg-white py-8 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pr-8 lg:pt-4">
              <div class="lg:max-w-lg">
                <h2 class="text-base font-semibold leading-7 text-indigo-600">Multicultural y multidisciplinar</h2>
                <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sobre mí</p>
                <p class="mt-6 text-lg leading-8 text-gray-600">Soy una persona inquieta, apasionada por aprender y vivir nuevas experiencias. Estas ganas de encontrar  cosas nuevas me han llevado por diversos caminos: estudié Derecho y luego me gradué en Magisterio de Educación Primaria tras haber trabajado un año en Estonia en una guardería gracias a un voluntariado europeo.


                    El baloncesto ha sido una constante en mi vida desde que empecé a jugar. Además, he sido entrenador de formación durante más de una década.  Otros datos que hablan de mis intereses dispares: he colaborado en una radio local con una sección quincenal sobre banderas, desde la pandemia dedico mucho tiempo al ajedrez y los cubos de Rubik y he puesto a prueba mis conocimientos en un concurso de cultura general en la televisión.
                    Mi pasión por la tecnología me llevó a realizar un bootcamp de Full Stack Developer, que he finalizado recientemente.
                </p>
                
              </div>
            </div><img src="../../../assets/img/aboutMe.jpeg" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
          </div>
        </div>
      </section>
</body>
</html>